@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: "Open Sans", sans-serif;
}

.divider-horizontal {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.divider-horizontal .div {
  height: 1px;
  position: relative;
  width: 1px;
}

.divider-horizontal .divider {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}
